.mini-player-container {
  position: fixed;
  bottom: env(safe-area-inset-bottom);
  left: 0;
  right: 0;
  height: 120rpx;
  background-color: #fff;
  border-top: 1rpx solid #eee;
  z-index: 1000;
  display: flex;

  &.is-tab-page {
    bottom: 0;
  }
}

.mini-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 30rpx;
}

.mini-info-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.mini-cover {
  width: 80rpx;
  height: 80rpx;
  border-radius: 8rpx;
  background-color: #eee;
  flex-shrink: 0;
}

.mini-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 20rpx;
  overflow: hidden;
}

.mini-title {
  font-size: 28rpx;
  color: #333;
  font-weight: 600;
  margin-bottom: 4rpx;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mini-artist {
  font-size: 24rpx;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mini-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20rpx;
}

.mini-btn {
  width: 70rpx;
  height: 70rpx;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10rpx;

  &.play-btn {
    .mini-icon {
      color: #000;
    }
  }
}

.mini-icon {
  font-size: 36rpx;
  color: #333;
}

