.album-container {
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 80rpx; /* Safe area */
  padding-left: 30rpx;
  z-index: 10;
}

.back-btn {
  width: 60rpx;
  height: 60rpx;
  background-color: rgba(255,255,255,0.8);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-icon {
  font-size: 36rpx;
  font-weight: bold;
}

.content-scroll {
  flex: 1;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120rpx 40rpx 40rpx;
}

.cover {
  width: 400rpx;
  height: 400rpx;
  border-radius: 20rpx;
  margin-bottom: 30rpx;
  box-shadow: 0 10rpx 30rpx rgba(0,0,0,0.15);
  background-color: #eee;
}

.title {
  font-size: 48rpx;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 10rpx;
}

.artist {
  font-size: 36rpx;
  color: #666;
  margin-bottom: 40rpx;
  text-align: center;
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.play-all-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #000; /* Primary */
  padding: 20rpx 50rpx;
  border-radius: 50rpx;
  margin-right: 30rpx;
}

.play-icon {
  color: #fff;
  font-size: 30rpx;
  margin-right: 15rpx;
}

.play-text {
  color: #fff;
  font-size: 32rpx;
  font-weight: bold;
}

.like-btn {
  width: 88rpx;
  height: 88rpx;
  border-radius: 50%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.like-icon {
  font-size: 40rpx;
  color: #999;
}

.track-list {
  padding: 0 40rpx;
}

.track-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24rpx 0;
  border-bottom: 1rpx solid #f0f0f0;
}

.track-idx-container {
    width: 40rpx;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.track-index {
    color: #999;
    font-size: 28rpx;
}
  
.track-index.active {
    color: #000;
    font-weight: bold;
}

.active-icon {
    font-size: 24rpx;
}

.track-cover {
  width: 40rpx;
  height: 40rpx;
  border-radius: 4rpx;
  margin: 0 20rpx;
  background-color: #eee;
}

.track-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 20rpx;
  overflow: hidden;
}

.track-name {
  font-size: 32rpx;
  color: #333;
}

.track-name.active {
  color: #000;
  font-weight: bold;
}

.track-duration {
  font-size: 24rpx;
  color: #999;
}

.loading, .error {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
}
