.artist-container {
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 80rpx; /* Safe area */
  padding-left: 30rpx;
  z-index: 10;
}

.back-btn {
  width: 60rpx;
  height: 60rpx;
  background-color: rgba(255,255,255,0.8);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-icon {
  font-size: 36rpx;
  font-weight: bold;
}

.content-scroll {
  flex: 1;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120rpx 40rpx 40rpx;
  background-color: #fff;
}

.avatar {
  width: 300rpx;
  height: 300rpx;
  border-radius: 50%;
  margin-bottom: 30rpx;
  background-color: #eee;
}

.name {
  font-size: 48rpx;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.section {
  padding: 40rpx 40rpx 0;
}

.section-title {
  font-size: 40rpx;
  font-weight: bold;
  color: #333;
  margin-bottom: 30rpx;
}

.horizontal-list {
  width: 100%;
  white-space: nowrap;
}

.album-card {
  display: inline-flex;
  flex-direction: column;
  width: 240rpx;
  margin-right: 30rpx;
}

.album-cover {
  width: 240rpx;
  height: 240rpx;
  border-radius: 20rpx;
  margin-bottom: 10rpx;
  background-color: #eee;
}

.album-name {
  font-size: 28rpx;
  color: #333;
  text-align: center;
}

.section-header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30rpx;
}

.play-btn {
  width: 72rpx;
  height: 72rpx;
  border-radius: 50%;
  background-color: #000; /* Primary */
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-icon {
  font-size: 30rpx;
  color: #fff;
}

.track-list {
  display: flex;
  flex-direction: column;
}

.track-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24rpx 0;
  border-bottom: 1rpx solid #f0f0f0;
}

.track-idx-container {
  width: 40rpx;
  display: flex;
  justify-content: center;
  align-items: center;
}

.track-index {
  color: #999;
  font-size: 28rpx;
}

.track-index.active {
  color: #000;
  font-weight: bold;
}

.active-icon {
  font-size: 24rpx;
}

.track-cover {
  width: 40rpx;
  height: 40rpx;
  border-radius: 4rpx;
  margin: 0 20rpx;
  background-color: #eee;
}

.track-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 20rpx;
  overflow: hidden;
}

.track-name {
  font-size: 32rpx;
  color: #333;
}

.track-name.active {
  color: #000;
  font-weight: bold;
}

.track-duration {
    font-size: 24rpx;
    color: #999;
}

.loading, .error {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
}
